body{
    font-family: 'Work Sans', sans-serif;
}

.header{
    background-color: #F3C6BD;
    padding: 57px 0 58px;
}

.container{
    max-width: 1140px;
    margin: 0 auto;
}

.flex{
    display: flex;
    justify-content: space-between;
    align-items:content;
} 

.logo img{
  margin-right: 15px;
}

.logo_title{
  font-weight: 700;
  font-size: 20px;  
  line-height: 25px;
  color: #2B292D;
}

.logo-text{
  font-size: 18px;
  line-height: 25px;
  color: rgba(43, 41, 45, 0.6);
}

.header_link{
   font-size: 18px;
    line-height: 25px;
    color: #2B292D;
    text-decoration: none;
}

.header_link:hover{
    font-weight: bold;
}

.header_ul{
    margin-right: 75px;
}

.header_li:not(:last-of-type){
    margin-right: 30px;
}

li a{
    text-decoration: none;
    position: relative;
}

li a:hover::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #2B292D;
    bottom: -3px;
    text-decoration: underline;
}

.header_button{
    width: 160px;
    height: 48px;
    border: none;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 100%, rgba(255, 255, 255, 1e-05) 100%), #3040C4;
    border-radius: 2px;
    font-size: 18px;
    line-height: 13px;
    color: #FFFFFF;
    font-weight: 700;
}

.header_button:hover{
    cursor: pointer;
    transition:1s ;
    background:linear-gradient(180deg, rgba(255, 255, 255, 0.05) 100%, rgba(255, 255, 255, 1e-05) 100%), #192eeb;
}

.content{
   background: #F4F5F7;
   max-width: 1400px;
}

.content_left{
    margin: 76px 29px 76px 130px;
    width: 555px;
    height: 102px;  
}

.content_right{
    margin: 77px 0 76px;
    width: 555px;
    height: 102px;  
}

.content_title{
    font-weight: 700;
    font-size: 22px;
    line-height: 52px;
    color: #2B292D;
}

.content_text{
    font-size: 22px;
    line-height: 32px;    
    color: #2B292D;
    
}

.logos{
    margin-top: 106px;
    display: flex;
    justify-content: space-around;
    align-items:center;
}